parameters:
    level: 8
    paths:
        - app
    excludePaths:
        - app/Helpers/functions.php
        - app/Services/MangaScript/AI/Providers/*
        - app/Services/Auth/Social/AbstractSocialProvider.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Access to an undefined property DGLab\\Models\\User::\$[a-zA-Z0-9_]+#'
        - '#Property .* is never read, only written.#'
        - '#If condition is always false.#'
        - '#Strict comparison using === between .* and false will always evaluate to false.#'
        - '#Offset .* always exists and is not nullable.#'
        - '#Call to an undefined method DGLab\\Services\\Tenancy\\TenancyService::getCurrentTenantId\(\).#'
        - '#Parameter \#2 \$next \(Closure\) of method DGLab\\Middleware\\PermissionMiddleware::handle\(\) is not contravariant.*#'
        - '#Access to an undefined property DGLab\\Models\\Tenant::\$status.#'
        - '#Strict comparison using === between mixed and null will always evaluate to false.#'
        - '#Parameter \#1 \$num of function dechex expects int, float given.#'
        - '#Method DGLab\\Services\\EpubFontChanger\\EpubFontChanger::getFontMediaType\(\) is unused.#'
        - '#Call to an undefined static method DGLab\\Services\\MangaScript\\AI\\LLMProviderException::.*#'
        - '#Parameter \#1 \$config of class DGLab\\Services\\MangaScript\\AI\\Providers\\CustomProvider constructor expects array, string given.#'
        - '#Parameter \#2 \$endpointId of class DGLab\\Services\\MangaScript\\AI\\Providers\\CustomProvider constructor expects string, array given.#'
        - '#Call to an undefined method DGLab\\Services\\MangaScript\\AI\\Contracts\\LLMProviderInterface::.*#'
        - '#Constructor of class DGLab\\Services\\MangaScript\\MangaScriptService has an unused parameter \$app.#'
        - '#Access to an undefined property DGLab\\Services\\Superpowers\\Runtime\\DebugCollector::\$events.#'
        - '#Parameter \#1 \$json of function json_decode expects string, string\|false given.#'
        - '#Parameter \#1 \$content of method DGLab\\Services\\Superpowers\\Lexer\\Lexer::tokenize\(\) expects string, string\|false given.#'
        - '#Parameter \#1 \$content of method DGLab\\Services\\Superpowers\\Parser\\Linter::lint\(\) expects string, string\|false given.#'
        - '#expects string, string\|null given.#'
        - '#Method .* should return string but returns string\|false.#'
        - '#Parameter \#1 \$value of function count expects array\|Countable, array<int, string>\|false given.#'
        - '#Cannot access offset .* on array<int, string>\|false.#'
        - '#Method .* should return string but returns string\|null.#'
        - '#Method .* evaluates to false.#'
        - '#Offset .* does not exist on array.*#'
        - '#Access to an undefined property object::.*#'
        - '#Method .* has no return type specified.#'
        - '#Method .* has parameter .* with no type specified.#'
        - '#Parameter \#1 \$array of function array_diff expects array, array<int, string>\|false given.#'
        - '#Parameter \#3 \$subject of function preg_replace_callback expects array\|string, string\|null given.#'
        - '#Method DGLab\\Services\\Tenancy\\TenancyService::tenantId\(\) should return int\|null but returns int\|string\|null.#'
        - '#Property DGLab\\Services\\EpubFontChanger\\EpubParser::\$opf \(SimpleXMLElement\|null\) does not accept SimpleXMLElement\|false.#'
        - '#Parameter \#1 \$string of function trim expects string, string\|false given.#'
        - '#Parameter \#1 \$string of function base64_encode expects string, string\|false given.#'
        - '#Parameter \#2 \$subject of function preg_match expects string, string\|false(\|null)? given.#'
        - '#Parameter \#3 \$subject of function preg_replace expects array\|string, string\|false\|null given.#'
        - '#Parameter \#1 \$haystack of function (strpos|stripos) expects string, string\|false given.#'
        - '#Parameter \#1 \$string of function substr expects string, string\|false given.#'
        - '#Parameter \#1 \$name of method ZipArchive::(getFromName|deleteName|addFromString)\(\) expects string, string\|false given.#'
        - '#Parameter \#2 \$content of method ZipArchive::addFromString\(\) expects string, string\|false given.#'
        - '#Method DGLab\\Services\\EpubFontChanger\\Repackager::getOutputSize\(\) should return int but returns int<0, max>\|false.#'
        - '#Parameter \#1 \$length of function openssl_random_pseudo_bytes expects int, int\|false given.#'
        - '#Parameter \#3 \$length of function substr expects int\|null, int\|false given.#'
        - '#Parameter \#2 \$offset of function substr expects int, int\|false given.#'
        - '#Method DGLab\\Services\\MangaScript\\AI\\ProviderFactory::create\(\) should return DGLab\\Services\\MangaScript\\AI\\Contracts\\LLMProviderInterface but returns object.#'
        - '#Property DGLab\\Services\\MangaScript\\AI\\ProviderRepository::\$instances \(array<string, DGLab\\Services\\MangaScript\\AI\\Contracts\\LLMProviderInterface>\) does not accept array<string, object>.#'
        - '#Method DGLab\\Services\\MangaScript\\AI\\ProviderRepository::get\(\) should return DGLab\\Services\\MangaScript\\AI\\Contracts\\LLMProviderInterface but returns object.#'
        - '#Cannot call method .* on DGLab\\Database\\Connection\|null.#'
        - '#Parameter \#2 \$data of function fwrite expects string, string\|false given.#'
        - '#Parameter \#2 \$timestamp of function date expects int\|null, int\|false given.#'
        - '#Parameter \#2 \$listener of method DGLab\\Core\\Contracts\\DispatcherInterface::(listen|removeListener)\(\) expects .* given.#'
        - '#Parameter \#1 \$content of method DGLab\\Services\\AssetPacker\\DependencyResolver::extractDependencies\(\) expects string, string\|false given.#'
        - '#Parameter \#1 \$content of method DGLab\\Services\\AssetPacker\\WebpackService::transformModule\(\) expects string, string\|false given.#'
        - '#Argument of an invalid type array<int, string>\|false supplied for foreach.*#'
        - '#Property DGLab\\Services\\AssetService::\$(scssPath|jsPath|fontsPath) \(string\) does not accept string\|false.#'
        - '#Parameter \#1 \$source of method ScssPhp\\ScssPhp\\Compiler::compileString\(\) expects string, string\|false given.#'
        - '#Parameter \#1 \$callback of function call_user_func expects callable\(\): mixed, array\{mixed, string\} given.#'
        - '#Parameter \#1 \$id of method DGLab\\Services\\Auth\\Guards\\SessionGuard::updateSession\(\) expects int, int\|string given.#'
        - '#Parameter \#1 \$key of function openssl_pkey_export expects .* given.#'
        - "#Cannot access offset 'key' on array\\|false.#"
        - '#Parameter \#1 \$key of function openssl_pkey_get_details expects OpenSSLAsymmetricKey, OpenSSLAsymmetricKey\|false given.#'
        - '#Parameter \#1 \$data of method DGLab\\Services\\Auth\\JWTService::base64UrlEncode\(\) expects string, string\|false given.#'
        - '#Parameter \#1 \$content of class DGLab\\Core\\Response constructor expects string\|null, string\|false given.#'
        - '#Parameter \#1 \$function of class ReflectionFunction constructor expects Closure\|string, callable\(\): mixed given.#'
        - '#Parameter \#1 \$data of function unserialize expects string, string\|false given.#'
        - '#Parameter \#1 \$callable of method DGLab\\Core\\Application::call\(\) expects callable\(\): mixed, (array\{mixed, .*\}|Closure|string|callable\(\): mixed) given.#'
        - '#Property DGLab\\Core\\Request::\$body \(string\|null\) does not accept string\|false.#'
        - '#Property DGLab\\Core\\Response::\$fileSize \(int\) does not accept int<0, max>\|false.#'
        - '#Parameter \#1 \$stream of function (fseek|feof|fread|fclose) expects resource, resource\|false given.#'
        - '#Method DGLab\\Core\\Router::match\(\) should return DGLab\\Core\\Route but returns DGLab\\Core\\Route\|null.#'
        - '#Parameter \#3 \$subject of function (str_replace|preg_replace) expects array\|string, string\|null given.#'
        - '#Method DGLab\\Database\\Connection::getPdo\(\) should return PDO but returns PDO\|null.#'
        - '#Invalid type PDOException\|null to throw.#'
        - '#Call to an undefined method object::(up|down)\(\).#'
        - '#Method DGLab\\Core\\(Request::getBody|UploadedFile::getMimeType|BaseService::getMimeType)\(\) should return string\|null but returns string\|false.#'
        - '#Parameter \#2 \$array of function array_map expects array, array<int, string>\|false given.#'
        - '#Parameter \#1 \$callable of method DGLab\\Core\\Application::call\(\) expects callable\(\): mixed, \(Closure\|string\)\|callable\(\): mixed given.#'
        - '#Parameter \#1 \$callable of method DGLab\\Core\\Application::call\(\) expects callable\(\): mixed, \(callable\(\): mixed\)\|string given.#'
        - '#Class DGLab\\Core\\Router does not have a constructor.*#'
        - '#Class DGLab\\Core\\View constructor invoked with 1 parameter, 0 required.#'
        - '#Call to an undefined method DGLab\\Core\\Contracts\\DispatcherInterface::addSubscriber\(\).#'
    reportUnmatchedIgnoredErrors: false
